<!DOCTYPE html>
<html lang="en">
<head>
    <title>TravelOffice</title>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="../static/css/client.css" th:href="@{/css/client.css}" rel="stylesheet" />
    <link href="../static/css/flow.css" th:href="@{/css/flow.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">TravelOffice</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link"  th:href="@{/search}">Szukaj wycieczki</a>
                </li>
            </div>
        </div>
    </div>
</nav>
<div class="container">

    <div class="row bs-wizard" style="border-bottom:0;">
        <div class="col-4 bs-wizard-step active">
            <div class="text-center bs-wizard-stepnum">Rezerwacja</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>
        <div class="col-4 bs-wizard-step disabled"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Potwierdzenie danych</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>

        <div class="col-4 bs-wizard-step disabled"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Podsumowanie</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>
    </div>

    <h3 style="font-weight: 900" th:text="'Rezerwacja wycieczki - ' + ${travel.name}"></h3>
    <hr/>
    <form th:action="@{/reservation/{tripId}(tripId=${trip.id})}" method="post" th:object="${tripOrderDto}">
        <th:block>
            <h4 style="margin-top: 30px;">Dane kontaktowe osoby zamawiającej</h4>
            <div class="row">
                <div class="col">
                    <input placeholder="Imie" type="text" th:field="*{buyerFirstName}" id ="firstName" class="form-control">
                </div>
                <div class="col">
                    <input placeholder="Nazwisko" type="text" th:field="*{buyerLastName}" id="lastName" class="form-control">
                </div>
                <div class="col">
                    <input  placeholder="Telefon" type="text" th:field="*{buyerPhone}" id="phoneNumber" class="form-control">
                </div>
                <div class="col">
                    <input placeholder="Email" type="text" th:field="*{buyerEmail}" id="email" class="form-control">
                </div>
            </div>
            <h4 style="margin-top: 30px;">Dane pozostałych podróżników</h4>
            <div class="d-grid gap-2" style="margin-top: 20px;">
                <button class="btn btn-outline-primary" type="submit" style="width:100%">Dodaj osobę</button>
            </div>
            <th:block th:each="row,rowStat: ${tripOrderDto.simpleParticipantDtos}">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-5">
                        <input placeholder="Imie" th:field="*{simpleParticipantDtos[__${rowStat.index}__].firstName}"
                               type="text"  id ="participantFirstName" class="form-control">
                    </div>
                    <div class="col-5">
                        <input placeholder="Nazwisko"  th:field="*{simpleParticipantDtos[__${rowStat.index}__].lastName}"
                               type="text" class="form-control" id="participantLastName">
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <div class="form-check form-switch">
                            <input class="form-check-input" th:field="*{simpleParticipantDtos[__${rowStat.index}__].adult}" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Dorosły</label>
                        </div>
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-end" >
                        <button class="btn btn-outline-danger" type="submit" th:name="action" th:value="'delete'+${rowStat.index}" style="width: 100%">Usuń</button>
                    </div>
                </div>
            </th:block>
            <div class="d-grid gap-2" style="margin-top: 20px;">
                <button class="btn btn-outline-primary" type="submit" style="width:100%" th:name="action" th:value="save">Podsumowanie</button>
            </div>
        </th:block>
    </form>

</div>
</body>
</html>